<div class="container-fluid px-5 mt-3">
	<h1>Workshops</h1>

	<p>This is a simple example of an Angular component.</p>

	<div class="card mb-3">
		<div class="card-header">
			<h3>All Successes</h3>
		</div>
		<div class="card-body">
			<ng-container *ngFor="let success of successes">
				<div *ngIf="success.user" class="iconBox bg-warning p-overlay-badge">
					<img class="img-fluid" [src]="'https://robohash.org/'+ success.user.nickname + '?set=set3'"
						alt="robohash_img">
					<p-badge [value]="success.user.nickname"></p-badge>
				</div>
			</ng-container>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			<h3>All Users</h3>
		</div>
		<div class="card-body">
			<ng-container *ngFor="let user of users">
				<div *ngIf="user" class="iconBox bg-warning p-overlay-badge">
					<img class="img-fluid" [src]="'https://robohash.org/'+ user.nickname + '?set=set3'"
						alt="robohash_img">
					<p-badge [value]="user.nickname"></p-badge>
				</div>
			</ng-container>
		</div>
	</div>

	<button class="btn btn-primary">Send Success</button>
</div>