<div class="container-fluid px-5 mt-3">
	<h1>Workshops</h1>

	<p>This is a simple example of an Angular component.</p>

	<h3>All Successes</h3>

	<div class="col-12 md:col-4">
		<h5>Avatar Group</h5>
		<div class="card">
			<div class="card-body">
				<p-avatarGroup styleClass="mb-3">
					<ng-container *ngFor="let success of successes">
						<p-avatar *ngIf="success.user" [image]="success.user.avatar!" size="xlarge" shape="circle">
						</p-avatar>
					</ng-container>
				</p-avatarGroup>
			</div>
		</div>
	</div>

	<button class="btn btn-primary">Send Success</button>
</div>