/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

/* Provide sufficient contrast against white background */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header nav {
    height: 80px;
  }
}
