<div class="body">
	<app-nav-menu></app-nav-menu>
	<router-outlet></router-outlet>

	<!-- <div class="container-fluid px-5-fluid">
    <h2>Data loaded from the Web API:</h2>

    <div *ngIf="successes.length>0" class="alert alert-warning" role="alert">
      <li *ngFor="let success of successes">
        <span *ngIf="success; else NoSuccess">Successes: {{ 'Correct' }}</span>
        <ng-template #NoSuccess>Successes: {{ 'False' }}</ng-template>
      </li>
    </div>
  </div> -->
</div>

<p-toast position="bottom-right" showTransformOptions="translateX(100%)">
</p-toast>