<div class="surface-card p-4 shadow-2 border-round w-full">
	<div class="text-center mb-5">
		<div class="text-900 text-3xl font-medium my-3">
			Welcome
		</div>

		<i *ngIf="!registerForm.value?.nickname; else Avatar" class="fa fa-user fa-4x"></i>

		<ng-template #Avatar>
			<div class="d-flex flex-column justify-content-center align-items-center">
				<div class="iconBox bg-warning p-overlay-badge">
					<img class="img-fluid" [src]="'https://robohash.org/'+ registerForm.value.nickname + '?set=set3'"
						alt="robohash_img">
					<p-badge [value]="registerForm.value.nickname"></p-badge>
				</div>

				<p class="text-muted">{{ registerForm.get('avatar')?.value }}</p>
			</div>
		</ng-template>

	</div>

	<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
		<label for="nickname" class="form-label block text-900 font-medium mb-2">Nickname</label>
		<div id="nickname" class="input-group mb-3">
			<span class="input-group-text bg-dark" id="basic-addon1">
				<i class="fa fa-user text-white"></i>
			</span>
			<input formControlName="nickname" type="text" class="form-control bg-dark text-white" placeholder="nickname"
				aria-label="nickname" aria-describedby="basic-addon1" (ngModelChange)="setAvatar($event)">
		</div>

		<label for="avatar" class="d-none text-muted font-medium mb-2">Avatar</label>
		<input formControlName="avatar" id="avatar" type="text" placeholder="avatar url"
			class="d-none form-control bg-dark text-muted mb-3" pTooltip="filled automatically by typing nickname">

		<!-- <div class="flex align-items-center justify-content-between mb-6">
			<div class="flex align-items-center">
				<p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>

				<label for="rememberme1" class="text-900">
					Remember me
				</label>
			</div>

			<a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">
				Forgot password?
			</a>
		</div> -->

		<button type="submit" [disabled]="!registerForm.valid" pButton pRipple label="Register"
			icon="pi pi-cloud-upload" class="w-full mt-3 text-center"></button>
	</form>
</div>